alembic==0.8.4
eventlet==0.18.1
Flask==0.10.1
Flask-Admin==1.4.0
Flask-Login==0.3.2
Flask-Migrate==1.7.0
Flask-Script==2.0.5
Flask-SocketIO==2.0
Flask-SQLAlchemy==2.1
Flask-Uploads==0.2.0
Flask-WTF==0.12
greenlet==0.4.9
gunicorn==18.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
nltk==3.1
python-editor==0.5
python-engineio==0.8.7
python-socketio==1.0
six==1.10.0
SQLAlchemy==1.0.11
Werkzeug==0.15.3
wheel==0.26.0
WTForms==2.1
