<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Snapples: {% block title %}{% endblock %}</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous" />

    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>

    {% block head %}{% endblock %}
</head>

<body>
    <div class="page-header"><div class="container">
        <h1>
            Snapples to Apples
            {% if pagename is defined %}
            <small>{{ pagename }}</small>
            <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="{{url_for('.login')}}">Login</a></li>
            </ul>
            {% endif %}
        </h1>
        </div></div>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
</body>
