{% extends "base.html" %}

{% block title %}Create a Game{% endblock %}

{% block links %}
{{ macros.navlink("Home", url_for(".index")) }}
{{ macros.navlink("Log Out", url_for(".logout")) }}
{% endblock %}

{% block pagename %}Create a Game{% endblock %}
{% block subname %}
Start your own <strong>Custom Match</strong> of Snapples to Apples!
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.maxPlayers.label }}
                        {{ form.maxPlayers(
                            size=20,
                            placeholder="Maximum Players",
                            class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.numRounds.label }}
                        {{ form.numRounds(
                            size=20,
                            placeholder="Number of Rounds",
                            class="form-control") }}
                    </div>
                    <button type="submit"
                            class="btn btn-lg btn-default">
                        <i class="fa fa-plus"></i>
                        Create Game
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
