{% extends "base.html" %}

{% block title %}Round {{ round }}{% endblock %}

{% block links %}
    {{ macros.navlink("Log Out", url_for(".logout")) }}
{% endblock %}

{% block pagename %}Round {{ round }} - {{ word }}{% endblock %}

{% block body %}
<section id="pictures">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{word}} - Submissions</h2>
                <hr class="star-primary"></hr>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <table class="table table-striped">
                    <tbody>
                        {% for picture in pictures %}
                        <tr>
                            <td style="vertical-align: middle;">
                                <img src="view/{{picture.id}}" width="150" height="150">
                            </td>
                            
                            <td style="vertical-align: middle;">
                                <a href="{{ url_for(".winner", picture=picture.id) }}"
                                    class="btn btn-danger">Select as winner</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}