
{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block links %}
{{ macros.navlink("Home", url_for(".index")) }}
{% endblock %}

{% block pagename %}Register{% endblock %}
{% block subname %}Welcome to the fun!{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(size=20, placeholder='Username', class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(size=20, placeholder='Password', class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.confirm.label }}
                        {{ form.confirm(size=20, placeholder='Confirm Password', class="form-control") }}
                    </div>

                    <button class="btn btn-lg btn-default" type="submit">
                        Sign up
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
