{% extends "base.html" %}

{% block title %}Take a Picture{% endblock %}

{% block links %}
{{ macros.navlink("Log Out", url_for(".logout")) }}
{% endblock %}

{% block pagename %}Take a Picture{% endblock %}

{% block body %}
    The word is {{word}}. {{picker}} is judging.
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Snap!</button>

 <font color="red">  <h2>SNAP AND CLICK ON SUBMIT WHEN DONE!!!</h2></font>
 <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Snap</a></li>
  <li role="presentation" class="active"><a href="#">Submit</a></li>
</ul>
<div class='row'>
            <div class="col-sm-4">
                <font color="red"> <h2>PICK</h2> </font>
            </div>
                <div class="col-sm-4">
                <font color="red"> <h2>MOST INTERESTING</h2> </font>
            </div>
            <div class="col-sm-4">
                <font color="red"> <h2>COOLEST</h2> </font>
            </div>
            </div>
    <div class='row'>
            <div class="col-sm-4">
                <font color="red"> <h2>FUNNY</h2> </font>
            </div>
                <div class="col-sm-4">
                <font color="red"> <h2>BE CREATIVE</h2> </font>
            </div>
            <div class="col-sm-4">
                <font color="red"> <h2>RANDOM PICTURES</h2> </font>
            </div>
            </div>
        <div class='row'>
            <div class="col-sm-4">
                <font color="red"> <h2>IMAGINE</h2> </font>
            </div>
                        <div class="col-sm-4">
                <font color="red"> <h2>SOCIALIZE</h2> </font>
            </div>


    <form method='POST' id="picForm">
        {{ form.hidden_tag() }}
        <input type="hidden" id="picture" name="picture">
        <button type="submit" class="active">Submit</button>
    </form>
    <canvas id="canvas" width="640" height="480"></canvas>
{% endblock %}

{% block scripts %}
<script>
 $(document).ready(function() {
    var canvas = document.getElementById("canvas"),
    context = canvas.getContext("2d"),
    video = document.getElementById("video"),
    videoObj = {"video": true},
    errBack = function(error) {
    console.log("Video capture error: ", error.code);
    };

    if(navigator.getUserMedia) { // Standard
        navigator.getUserMedia(videoObj, function(stream) {
            video.src = stream;
            video.play();
        }, errBack);
    } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
        navigator.webkitGetUserMedia(videoObj, function(stream){
            video.src = window.URL.createObjectURL(stream);
            video.play();
        }, errBack);
    }
    else if(navigator.mozGetUserMedia) { // Firefox-prefixed
        navigator.mozGetUserMedia(videoObj, function(stream){
            video.src = window.URL.createObjectURL(stream);
            video.play();
        }, errBack);
    }

    function convertCanvasToImage(canvas) {
        var image = new Image();
        image.src = canvas.toDataURL("image/png");
        var dataURL = canvas.toDataURL("image/png");
        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
    }

    $('#snap').click(function() { 
        context.drawImage(video, 0, 0, 640, 480);
        dataURL = convertCanvasToImage(canvas);
        document.getElementById('picture').value = dataURL;
        // localStorage.setItem('imgData', dataURL);
        // var dataImage = localStorage.getItem('imgData');
    });

    $('#picForm').submit(function(e) {
        var canvas = document.getElementById('canvas');
        var dataURL = canvas.toDataURL("image/png");
        var blobBin = atob(dataURL.split(',')[1]);
        var a = [];
        for (var i = 0; i < blobBin.length; i++) {
            a.push(blobBin.charCodeAt(i));
        };
        var file = new Blob([new Uint8Array(a)], {type: 'image/png'});

        var formdata = new FormData();
        formdata.append('picture', file);
        var tok = $('#csrf_token').val();
        formdata.append('csrf_token', tok);
        $.ajax({
            url: '/take/',
            type: 'post',
            data: formdata,
            processData: false,
            contentType: false,
        }).done(function(resp) {
            window.location.href = '/';
        });

        e.preventDefault();
    });

});
</script>
{% endblock %}
